.allBlocks {
  display: grid;
  gap: 24px;
  grid-template-rows: 442px 217px;
  grid-template-columns: 658px 483px;
  justify-content: center;
  align-content: center;
}

.titlePage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 100vh;
  /* min-width: 100vh; */
  padding-top: 100px;
}

.cityChange {
  padding-right: 15.5px;
}

.city {
  display: flex;
  justify-content: end;
  margin-bottom: 21px;
  align-items: center;
  color: white;
}

.btnCity {
  color: black;
  font-size: 20px;
  grid-row: 1;
}

.btnCity:active {
  text-decoration: underline red;
  color: red;
}

@media (max-width: 768px) {
  .titlePage {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
  }
  .allBlocks {
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    gap: 20px
  }
  .city {
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
} 

@media (max-width: 430px) {
  .titlePage {
    padding-top: 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .allBlocks {
    display: grid;
    gap: 24px;
    grid-template-columns: 361px;
    grid-template-rows: 352px 458px;
    justify-content: start;
    align-content: center;
  }
  .city {
    margin-bottom: 21px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
  }
}
