/* вот этот стиль и контейнер можно вынести в отдельный компонент - обертку. Так как он будет повторяться три раза, то пусть будет универсальным */
.WeatherToday {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  margin: 10px 10px;
  color: white;
  width: 652px;
  height: 442px;
  border-radius: 15px;
  /* не хватает размытия(смотри макет) */
  background-color: rgba(20, 20, 20, 0.5);
  gap: 60px;
}

.date {
  /* font-family - наследуемое свойство. Его можно задать в body и все */
  font-family: "Gilroy Ultra Light";
  /* отступы задаются обычно самому внешнему контейнеру. В нашем случае вместо марджинов должны быть паддинги у карточки-контейнера, а не у каждого элемента по отдельности(сейчас отступы есть и у даты и у текущей погоды и у параметров) */
  margin-left: 28px;
  margin-bottom: 20px;
  color: white;
}

.weatherNow {
  margin-left: 28px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.weather {
  font-family: "Gilroy Extra Bold";
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.temperature {
  font-size: 84px;
  font-family: "Gilroy Extra Bold";
  font-weight: 700;
  font-style: normal;
}
.weatherPhenomenon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Gilroy Ultra Light";
  font-weight: 400;
  font-size: 14px;
}

.feltWeather {
  font-weight: 500;
  font-size: 22px;
  padding-top: 16px;
  padding-right: 58px;
}

.weatherParams {
  margin-left: 28px;
  display: flex;
  gap: 70px;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
}
.weatherParamsWind {
  display: flex;
  gap: 5px;
}
.weatherParamsWindSpeed {
  align-content: center;
}
.weatherParamsPressure {
  display: flex;
  gap: 5px;
}
.weatherParamsPressurePersent {
  align-content: center;
}
.weatherParamsHumidity {
  display: flex;
  gap: 5px;
}
.weatherParamsHumidityText {
  align-content: center;
}
